<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
    <div class="panel-title" align="left"><i class="fa fa-cogs"></i>  Manage </div>
  </div>
  <div id="collapseFive" style="width:50px !important;"  class="panel-collapse collapse {% ifequal 'employees' navContext %} in {% endifequal %}">
    <div class="panel-body">
      <ul class="nav" >
        <li ng-repeat="a in apps"><a ui-sref="{{a.state}}"><i class="fa {{a.icon}}"></i> {{a.dispName | humanize}}</a></li>
      </ul>
    </div>
  </div>
</div>
