<style media="screen">
  .active {
    color: white;
    font-weight: 700
  }

  .pagination>li>a,
  .pagination>.active>a:hover {
    border: none !important;
    color: black !important;
    /* font-weight:700; */
    background-color: transparent !important;
    font-size: 14px;
  }

  .pagination>.active>a {
    background-color: transparent !important;
    outline: black;
    color: black !important;
    font-weight: 700;
    font-size: 14px;
  }

  .table tr,
  th,
  td {
    border: none !important;

  }

  table {
    border: none !important;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 10px !important;
  }

  .inputStyle {
    background:
      black;
    border: 1px solid white !important;
    font-size: 18px;
    color: white;
  }

  .btnStyle {
    background:
      rgb(73, 74, 74) !important;
    color:
      white !important;
    border-radius: 5px !important;
  }

  .popover-title {
    color: black
  }

  .popover {
    color: black
  }

  .defaultBtn {
    background: #2b2929;
    outline: none !important;
    /* border: 1px solid #808080; */
    /* border-radius:5px !important; */
    font-size: 16px;
    color: #ffffff !important;
    margin-left: 20px !important;
  }

  .grayBtn {
    background: #333333;
    border: 1px solid #000000;
    border-radius: 5px !important;
    font-size: 16px;
    color: #ffffff !important;
    outline: none !important;
  }

  .dimgrayBtn{
    background: #555555;
    border: 1px solid #000000;
    border-radius: 5px !important;
    font-size: 16px;
    color: #ffffff !important;
    outline: none !important;
  }

  .fa-caret-down {
    position: absolute;
    padding: 10px;
    right: 15px;
    z-index: 1
  }
  .activeMenu {
    background: #757575 !important;
  }
  .menuItemss:hover {
    background: #000;
    /* border-right: solid 4px red !important; */
  }
</style>
<div class="container-fluid" ng-if="!promotion">
  <div class="row text-center">
    <h1 style="color:black">{{main.title}} </h1>
  </div>

  <div class="row">
      <div class="col-md-3 pull-right">
        <button type="button" class="btn btn-default " style="background: #082ed0;color: white;border : none !important;border-radius:10px !important;padding: 15px;width: 88%;left: 25px;font-size:16px;" ng-click="addItem()">
            Add  <img src="/static/images/icons8-plus-48.png" style="width:25px;margin-left:10px;" alt="">
          </button>
      </div>
  </div>
  <div class="row" style="margin:5px;" >
    <div class="col-md-12">
      <div class="row" style="margin-top:10px">
        <div class="col-md-offset-1 col-md-10" style="background:#f1f1f1" style="border-radius:20px !important">

        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:0px;padding:0px;border-radius:0px 0px 10px 10px !important;color:white;">
          <table class="table text-center">
            <thead style="border-radius: 20px !important;color:black">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Number of Boxes</th>
                <th class="text-center"ng-if="main.type=='Capsules'||main.type=='Tablet'" >Number of Strips</th>
                <th class="text-center"ng-if="main.type!='Capsules'&&main.type!='Tablet'" >Number of Pieces</th>
                <th class="text-center"ng-if="main.type=='Capsules'||main.type=='Tablet'" >Number of Medicines</th>
                <th class="text-center">Total Quantity</th>
                <th class="text-center">Status</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody style="background:white;border-radius: 20px !important;color:black">
              <tr ng-repeat="item in allItems track by $index">
                <td>{{$index + 1}}</td>
                <td>{{item.number_of_boxes}} </td>
                <td ng-if="main.type=='Capsules'||main.type=='Tablet'">{{item.number_of_strips}} </td>
                <td>{{item.number_of_medicines}} </td>
                <td>{{item.quantity}} </td>
                <td  style="text-decoration:underline;">{{item.timeleft}}</td>
                <td><i class="fa fa-times pull-right"  style="color:red;" aria-hidden="true" mwl-confirm title="Approve" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="deleteCategory(item.id)" confirm-button-type="default"
                  cancel-button-type="default" ></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
      </div>
      <div class="row text-center">
        <div class="col-md-offset-4 col-md-4 col-md-offset-4">
          <ul uib-pagination boundary-links="false" total-items="total" items-per-page="limit" max-size="3" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-change="pageChanged(currentPage)"></ul>
        </div>
      </div>
      </div>
