<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse{{index}}" >
    <div class="row">
      <div class="col-md-1">
        <i class="fa {{data.icon}} fa-3x pull-right"></i>
      </div>
      <div class="col-md-9">
        <strong>Name : </strong> {{data.name}} <br>
        <strong>Module : </strong> {{data.module.name}}
      </div>
      <div class="col-md-2">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default " ng-click="edit();$event.stopPropagation();"> <i class="fa fa-pencil"></i> Edit </button>
          <button type="button" class="btn btn-danger" ng-click="delete(data.pk , index);$event.stopPropagation();"> <i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div id="collapse{{index}}" class="panel-collapse collapse" style="width:50px !important;" >
    <div class="panel-body">
      <strong>description : </strong><span>{{data.description}}</span>
      <br>
      <div style="display:inline-block;margin-left:15px;margin-right:15px;" ng-repeat = "o in data.owners">
        <span class="info-box-icon" style="background-color:white;">
          <div class="row">
            <img style="width: 50px;height:50px;" class="img-circle" ng-src="{{o.pk | getDP}}">
          </div>
          <div class="row {{$index | rainbow}}" style="background:white;height:40px; margin-bottom:10px;">
            <span style="color:black;font-size:12px;color:white; top:-25px;position:relative;">{{o.pk | getName}}</span>
          </div>
        </span>
      </div><!-- /.col -->
    </div>
  </div>
</div>
