<style media="screen">
  .darkInput{
    background: white;
    color: black;
    border-radius: 10px;
    padding: 23px;
    border: 1px solid #d3d3d3;
    margin-top:10px;
  }



</style>


<div class="col-md-offset-1 col-md-10 ">

  <h3 style="color:black;margin-bottom:30px;">Add a team member  </h3>
  <div class="row" style="padding-bottom:20px;">
    <div class="col-md-5" style="padding-top:30px;">
      <span style="font-size:18px;color:black;"> <img src="/static/images/icons8-information-64.png" style="width:30px;margin-right:10px;color:black !important" alt=""> DisplayPicture</span>
     </div>
    <div class="col-md-4" style="padding-top:30px;">
      <span>
        <input type="file" style="color:black !important"file-model="form.displayPicture" id="filePicker">
      </span>
    </div>
  </div>
  <div class="form-group">
    <label style="color:black" >mobile</label>
    <input type="text" class="form-control productForm" uib-typeahead="a as a.mobile for a in userSearch($viewValue)" typeahead-on-select="userOnSelect()" ng-model="form.mobile" placeholder="">
  </div>
  <div class="form-group">
    <label style="color:black">First Name</label>
    <input type="text" class="form-control darkInput" ng-model="form.first_name" required >
  </div>
  <div class="form-group">
    <label style="color:black">Last Name</label>
    <input type="text" class="form-control darkInput" ng-model="form.last_name" required >
  </div>
  <div class="form-group">
    <label style="color:black" >Email</label>
    <input type="text" class="form-control darkInput" ng-model="form.email" required >
  </div>

  <div class="form-group">
    <label style="color:black" >Password</label>
    <input type="text" class="form-control darkInput" ng-model="form.password" required >
  </div>
  <div class="form-group">
    <label>Date of Birth</label>
    <div class="input-group">
      <input type="text" class="form-control dateField"  ng-model="form.dob" placeholder="" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" is-open="statusEnd.opened" ng-init="today">
      <span class="input-group-btn" >
        <button type="button" class="btn btn-default dateButton" ng-click="statusEnd.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label style="color:black" >Blood Group</label>
    <input type="text" class="form-control darkInput" ng-model="form.blood_group" required >
  </div>
<div ng-if="type=='doctor'">
<div class="form-group">
  <label style="color:black">Specialization</label>
  <input type="text" class="form-control darkInput" ng-model="form.specialization" required >
</div>
<div class="form-group">
  <label style="color:black" >Base Fees</label>
  <input type="number" class="form-control darkInput" ng-model="form.base_fees" required >
</div>

<div class="row text-center">
  <h1>Doctor Timings</h1>
</div>
<div class="row form-group">
  <div class="col-md-4">
    <label style="color:black" >Monday</label>
    <uib-timepicker ng-model="time.mondayFromtime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:60px;">
      <h4>To</h4>
    </div>
    <div class="col-md-4" style="margin-top:25px;">
      <uib-timepicker ng-model="time.mondayTotime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:10px;">
      <button class="btn btn-default" ng-click="add('Monday')" style="background:blue;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:30px;">ADD</button>
    </div>
  </div>

<div class="row">
  <div  class="col-md-5"style="margin-bottom:20px;"  ng-repeat="x in form.monday track by $index">
    <div  style="border:1px solid black;padding: 5px 10px;">
      <p style="margin-bottom:0px;" >{{x[0]}} to {{x[1]}}<i class="fa fa-times pull-right" aria-hidden="true" style="padding-left:10px;cursor:pointer"  ng-click="deleteTimes('monday',$index)"></i></p>
      <!-- <span>{{x.title}} </span> -->

    </div>
    </div>

</div>
<div class="row form-group">
  <div class="col-md-4">
    <label style="color:black" >Tuesday</label>
    <uib-timepicker ng-model="time.tuesdayFromtime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:60px;">
      <h4>To</h4>
    </div>
    <div class="col-md-4" style="margin-top:25px;">
      <uib-timepicker ng-model="time.tuesdayTotime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:10px;">
      <button class="btn btn-default" ng-click="add('tuesday')" style="background:blue;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:30px;">ADD</button>
    </div>
  </div>

<div class="row">
  <div  class="col-md-5"style="margin-bottom:20px;"  ng-repeat="x in form.tuesday track by $index">
    <div  style="border:1px solid black;padding: 5px 10px;">
      <p style="margin-bottom:0px;" >{{x[0]}} to {{x[1]}} <i class="fa fa-times pull-right" aria-hidden="true" style="padding-left:10px;cursor:pointer"  ng-click="deleteTimes('tuesday',$index)"></i></p>
      <!-- <span>{{x.title}} </span> -->

    </div>
    </div>

</div>
<div class="row form-group">
  <div class="col-md-4">
    <label style="color:black" >Wednesday</label>
    <uib-timepicker ng-model="time.wednesdayFromtime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:60px;">
      <h4>To</h4>
    </div>
    <div class="col-md-4" style="margin-top:25px;">
      <uib-timepicker ng-model="time.wednesdayTotime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:10px;">
      <button class="btn btn-default" ng-click="add('wednesday')" style="background:blue;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:30px;">ADD</button>
    </div>
  </div>

<div class="row">
  <div  class="col-md-5"style="margin-bottom:20px;"  ng-repeat="x in form.wednesday track by $index">
    <div  style="border:1px solid black;padding: 5px 10px;">
      <p style="margin-bottom:0px;" >{{x[0]}} to {{x[1]}}<i class="fa fa-times pull-right" aria-hidden="true" style="padding-left:10px;cursor:pointer" ng-click="deleteTimes('wednesday',$index)"></i></p>
      <!-- <span>{{x.title}} </span> -->

    </div>
    </div>

</div>
<div class="row form-group">
  <div class="col-md-4">
    <label style="color:black" >Thursday</label>
    <uib-timepicker ng-model="time.thursdayFromtime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:60px;">
      <h4>To</h4>
    </div>
    <div class="col-md-4" style="margin-top:25px;">
      <uib-timepicker ng-model="time.thursdayTotime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:10px;">
      <button class="btn btn-default" ng-click="add('thursday')" style="background:blue;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:30px;">ADD</button>
    </div>
  </div>

<div class="row">
  <div  class="col-md-5"style="margin-bottom:20px;"  ng-repeat="x in form.thursday track by $index">
    <div  style="border:1px solid black;padding: 5px 10px;">
      <p style="margin-bottom:0px;" >{{x[0]}} to {{x[1]}} <i class="fa fa-times pull-right" aria-hidden="true" style="padding-left:10px;cursor:pointer" ng-click="deleteTimes('thursday',$index)"></i></p>
      <!-- <span>{{x.title}} </span> -->

    </div>
    </div>

</div>
<div class="row form-group">
  <div class="col-md-4">
    <label style="color:black" >Friday</label>
    <uib-timepicker ng-model="time.fridayFromtime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:60px;">
      <h4>To</h4>
    </div>
    <div class="col-md-4" style="margin-top:25px;">
      <uib-timepicker ng-model="time.fridayTotime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:10px;">
      <button class="btn btn-default" ng-click="add('friday')" style="background:blue;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:30px;">ADD</button>
    </div>
  </div>

<div class="row">
  <div  class="col-md-5"style="margin-bottom:20px;"  ng-repeat="x in form.friday track by $index">
    <div  style="border:1px solid black;padding: 5px 10px;">
      <p style="margin-bottom:0px;" >{{x[0]}} to {{x[1]}} <i class="fa fa-times pull-right" aria-hidden="true" style="padding-left:10px;cursor:pointer" ng-click="deleteTimes('friday',$index)"></i></p>
      <!-- <span>{{x.title}} </span> -->

    </div>
    </div>

</div>
<div class="row form-group">
  <div class="col-md-4">
    <label style="color:black" >Saturday</label>
    <uib-timepicker ng-model="time.saturdayFromtime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:60px;">
      <h4>To</h4>
    </div>
    <div class="col-md-4" style="margin-top:25px;">
      <uib-timepicker ng-model="time.saturdayTotime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:10px;">
      <button class="btn btn-default" ng-click="add('saturday')" style="background:blue;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:30px;">ADD</button>
    </div>
  </div>

<div class="row">
  <div  class="col-md-5"style="margin-bottom:20px;"  ng-repeat="x in form.saturday track by $index">
    <div  style="border:1px solid black;padding: 5px 10px;">
      <p style="margin-bottom:0px;" >{{x[0]}} to {{x[1]}} <i class="fa fa-times pull-right" aria-hidden="true" style="padding-left:10px;cursor:pointer" ng-click="deleteTimes('saturday',$index)"></i></p>
      <!-- <span>{{x.title}} </span> -->

    </div>
    </div>

</div>
<div class="row form-group">
  <div class="col-md-4">
    <label style="color:black" >Sunday</label>
    <uib-timepicker ng-model="time.sundayTotime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:60px;">
      <h4>To</h4>
    </div>
    <div class="col-md-4" style="margin-top:25px;">
      <uib-timepicker ng-model="time.sundayFromtime" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
    </div>
    <div class="col-md-2" style="margin-top:10px;">
      <button class="btn btn-default" ng-click="add('sunday')" style="background:blue;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:30px;">ADD</button>
    </div>
  </div>
  </div>
<div ng-if="type=='employee'">
  <div class="row form-group">
    <div class="col-md-5">
      <label style="color:black" >Starting time</label>
      <uib-timepicker ng-model="form.fromTimeStr" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
      </div>
      <div class="col-md-5">
        <label style="color:black" >Ending time</label>
        <uib-timepicker ng-model="form.toTimeStr" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
      </div>
  </div>
  </div>
<div class="row">
  <div  class="col-md-5"style="margin-bottom:20px;"  ng-repeat="x in form.sunday track by $index">
    <div  style="border:1px solid black;padding: 5px 10px;">
      <p style="margin-bottom:0px;" >{{x[0]}} to {{x[1]}}<i class="fa fa-times pull-right" aria-hidden="true" style="padding-left:10px;cursor:pointer" ng-click="deleteTimes('sunday',$index)"></i></p>
      <!-- <span>{{x.title}} </span> -->

    </div>
    </div>

</div>



<button class="btn btn-default" ng-click="postProfile()" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px">Create</button>
</div>
