<style media="screen">
  .darkInput{
    background: white;
    color: black;
    border-radius: 10px;
    padding: 23px;
    border: 1px solid #d3d3d3;
    margin-top:10px;
  }
  .productForm {
    padding:10px;
    border:1px solid #d3d3d3;
    border-radius:10px;
    font-size:15px;
    background:#F9F9F9;
  }


</style>

<div class="col-md-12 ">

  <h3 style="color:black;margin-bottom:30px;">Order Items</h3>

  <div class="row text-center">
    <h3>Medicines</h3>
  </div>
  <div class="row">
  <div class="col-md-12" style="margin-top:10px;padding:0px;border-radius:0px 0px 10px 10px !important;color:white;">
    <table class="table text-center">
      <thead style="border-radius: 20px !important;color:black;">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Type</th>
          <th class="text-center">Number of Boxes</th>
          <th class="text-center">Number of Strips</th>
          <th class="text-center">Number of Pieces</th>
          <th class="text-center">Quantity</th>
        </tr>
      </thead>
      <tbody style="background:white;border-radius: 20px !important;color:black">
        <tr ng-repeat="item in form.items track by $index">

          <td>{{$index + 1}}</td>
          <td>{{item.medicineDetail.title}} </td>
          <td>{{item.medicineDetail.type}} </td>
          <td>{{item.number_of_boxes}} </td>
          <td ng-if="item.medicineDetail.type=='Tablet'||item.medicineDetail.type=='Capsules'">{{item.number_of_strips}} </td>
          <td ng-if="item.medicineDetail.type!='Tablet'&&item.medicineDetail.type!='Capsules'">None </td>
          <td>{{item.number_of_medicines}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
