<style media="screen">
  .darkInput{
    background: white;
    color: black;
    border-radius: 10px;
    padding: 23px;
    border: 1px solid #d3d3d3;
    margin-top:10px;
  }
  .productForm {
    padding:10px;
    border:1px solid #d3d3d3;
    border-radius:10px;
    font-size:15px;
    background:#F9F9F9;
  }


</style>

<div class="col-md-12 ">

  <h3 style="color:black;margin-bottom:30px;">Add Order</h3>
  <div class="form-group">
    <label style="color:black" >Status</label>
    <select class="form-control productForm" ng-model="form.status" ng-options="a for a in status" style="padding:5px;">
    </select>
  </div>
  <div class="form-group">
    <label style="color:black">Amount</label>
    <input type="text" class="form-control productForm" uib-typeahead="a as a.mobile for a in userSearch($viewValue)" typeahead-on-select="userOnSelect()" ng-model="form.amount" placeholder="">
  </div>
  <div class="form-group">
    <label style="color:black">Discount</label>
    <input type="text" class="form-control productForm" ng-model="form.discount" required >
  </div>

  <div class="form-group">
    <label>Arriving Date</label>
    <div class="input-group">
      <input type="text" class="form-control dateField"  ng-model="form.expected_arriving" placeholder="" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" is-open="statusEnd.opened" ng-init="today">
      <span class="input-group-btn" >
        <button type="button" class="btn btn-default dateButton" ng-click="statusEnd.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>


        <div class="form-group">
          <label>Order Detailss</label>
          <textarea name="" style="width:100%"  ng-model="form.order_details" class="productForm"></textarea>
        </div>



<button class="btn btn-default btn-block" ng-click="addOrder()" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:10px;">Create</button>
</div>
