<style media="screen">
  .darkInput{
    background: white;
    color: black;
    border-radius: 10px;
    padding: 23px;
    border: 1px solid #d3d3d3;
    margin-top:10px;
  }
  .productForm {
    padding:10px;
    border:1px solid #d3d3d3;
    border-radius:10px;
    font-size:15px;
    background:#F9F9F9;
  }


</style>

<div class="col-md-12 ">

  <h3 style="color:black;margin-bottom:30px;">Add Medicines</h3>
  <div class="form-group">
    <div ng-if="!is_converted">
      <div class="form-group" >
        <label style="color:black">Number of Boxes</label>
        <input type="number" class="form-control productForm"  ng-model="form.number_of_boxes" placeholder="" ng-change="addTotal()" >
      </div>
      <div class="form-group" ng-if="form.medicine.type=='Tablet'||form.medicine.type=='Capsules'" >
        <label style="color:black">Number of Strips</label>
        <input type="number" class="form-control productForm" ng-model="form.number_of_strips" ng-change="addTotal()" >
      </div>
      <div class="form-group" ng-if="form.medicine.type=='Tablet'||form.medicine.type=='Capsules'" >
        <label style="color:black">Number of Tabs</label>
        <input type="number" class="form-control productForm" ng-model="form.number_of_medicines" ng-change="addTotal()" >
      </div>
      <div class="form-group" ng-if="form.medicine.type!='Tablet'&&form.medicine.type!='Capsules'">
        <label style="color:black">Number of Pieces</label>
        <input type="number" class="form-control productForm" ng-model="form.number_of_medicines"  ng-change="addTotal()" >
      </div>
    </div>
    <div ng-if="is_converted">
      <div class="form-group" >
        <label style="color:black">Number of Boxes</label>
        <input type="number" class="form-control productForm"  ng-model="form.number_of_boxes" placeholder="" ng-change="addTotal()" disabled>
      </div>
      <div class="form-group" ng-if="form.medicine.type=='Tablet'||form.medicine.type=='Capsules'" >
        <label style="color:black">Number of Strips</label>
        <input type="number" class="form-control productForm" ng-model="form.number_of_strips" ng-change="addTotal()" disabled>
      </div>
      <div class="form-group" ng-if="form.medicine.type=='Tablet'||form.medicine.type=='Capsules'" >
        <label style="color:black">Number of Tabs</label>
        <input type="number" class="form-control productForm" ng-model="form.number_of_medicines" ng-change="addTotal()" disabled>
      </div>
      <div class="form-group" ng-if="form.medicine.type!='Tablet'&&form.medicine.type!='Capsules'">
        <label style="color:black">Number of Pieces</label>
        <input type="number" class="form-control productForm" ng-model="form.number_of_medicines"  ng-change="addTotal()" disabled>
      </div>
    </div>

    <div class="form-group" ng-if="form.medicine.type!='Tablet'||form.medicine.type!='Capsules'">
      <label style="color:black">Quantity</label>
      <input type="number" class="form-control productForm" ng-model="form.quantity" ng-change="addTotal()"disabled>
    </div>

  <div class="form-group">
    <label>Expiry Date(OPTIONAL)</label>
    <div class="input-group">
      <input type="text" class="form-control dateField"  ng-model="form.expiry_date" placeholder="" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" is-open="statusEnd.opened" ng-init="today">
      <span class="input-group-btn" >
        <button type="button" class="btn btn-default dateButton" ng-click="statusEnd.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>



<div class="row">
  <div class="col-md-6" ng-if='!is_converted'>

    <button class="btn btn-default btn-block" ng-click="changeState();" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:10px;">Convert</button>
  </div>
  <div class="col-md-6" ng-if="is_converted">

    <button class="btn btn-default btn-block" ng-click="changeState();" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:10px;">Edit Mode</button>
  </div>
  <div class="col-md-6">

    <button class="btn btn-default btn-block" ng-click="addCategory()" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:10px;">Create</button>
  </div>
</div>
</div>
