<h1>{{name}}</h1>
<style>
#chartdiv {
  width: 100%;
  height: 500px;
  margin-top:200px;
}
body{
  background: white !important;
}
</style>

<div class="center">
  <h1 class="text-center" margin-top:20px;>Dashboard</h1>

</div>

<div id="chartdiv"></div>
