<style media="screen">
  .maincon:hover {
    /* background-image: linear-gradient(120deg, #D3CCE3, #E9E4F0) !important; */
    cursor: pointer;
    opacity: 1;
    /* box-shadow: 4px 3px 2px 1px grey; */

  }
  .leg{
    color:#ABC8D7;
  }
  .leg1{
    color:#E3E3E3;
  }
  .leg2{
    color:red;
  }
  .leg3{
    color:#6BCBCA;
  }
  .leg4{
    color:#ABC8D7;
  }

</style>

<div class=" bg-white" style="min-height:93vh;padding:20px;padding-top:10px;">
  <div class="container-fluid">
    <h2>Welcome admin</h2>


  </div>

</div>
