<div class="container-fluid" style="padding:0px !important;margin:0px !important" >
  <div class="row" style="padding:0px !important;margin:0px !important">
    <div class="col-md-12 " style="padding:0px !important;margin:0px !important">
      <div ui-view style="padding:0px !important;margin:0px !important"></div>
    </div>
  </div>
</div>
