
<div class="" ng-controller="sideMenu" style="">

  <div class="row" >
    <div class="container-fluid">
      <ul class="nav nav-sidebar padded" style="width:100%;height:89vh;overflow:auto;scrollbar-width:none;margin-top:10px;">
        <li ng-class="{active: $state.includes(a.state)}" class="ripple" ng-repeat="a in filter.menuApps" style="width:transition:10s" ng-mouseover="onHover=true" ng-mouseleave="onHover=false">
          <a ng-if="a.state" ui-sref="{{a.state}}" style="padding-top:10px !important;padding-bottom:0px !important;" >
            <div class="container-fluid text-center" style="padding:0px;padding-bottom:50px;overflow-x:visible;">
              <div class="" ng-if="a.icon.length>0">
                <img  style="height:80px;filter: drop-shadow(5px 5px 5px #c8c4c4);" ng-src="{{a.icon}}" alt="">
                <br>
              </div>
              <span style="font-size:20px;">{{a.displayName}}</span>
            </div>
          </a>
          <a ng-if="!a.state" href="#{{a.url}}" style="padding-top:10px !important;padding-bottom:0px !important;" >
            <div class="container-fluid text-center" style="padding:0px;padding-bottom:10px;overflow-x:visible;">
              <div class="" ng-if="a.icon.length>0">
                <img style="height:40px;filter: drop-shadow(5px 5px 5px #c8c4c4);" ng-src="{{a.icon}}" alt="">
                <br>
              </div>
              <span style="font-size:16px;">{{a.displayName}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="row" style="{{sideMenuVisibility ? 'border-bottom:solid 2px #eeeeee;':''}}">
    <div class="container-fluid">
      <div class="col-md-3 basicAppLink text-center" ng-repeat="a in fixedApps" ng-class="{active: $state.is(a.state)}" ng-click="$state.go(a.state)">
        <span>
          <i class="fa fa-{{a.icon}} fa-2x"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <ul class="nav nav-sidebar padded" style="width:100%;">
        <li ng-class="{active: $state.includes(a.state)}" ng-repeat="a in apps" style="width:transition:10s" ng-mouseover="onHover=true" ng-mouseleave="onHover=false">
          <a ui-sref="{{a.state}}" style="{{ onHover&&!sideMenuVisibility ? 'width:235%;border-radius:0 30px 30px 0' : ''}}">
            <div ng-if="sideMenuVisibility" align="left">
              <div class="row container-fluid">
                <div class="col-md-3">
                  <i class="fa {{a.icon}} fa-2x"></i>
                </div>
                <div class="col-md-9">
                  {{a.dispName | humanize}}
                </div>
              </div>
            </div>
            <div ng-if="!sideMenuVisibility" align="left" style="padding-bottom:30px;overflow-x:visible;"><i class="fa {{a.icon}} fa-2x pull-left zoomOnHover" style="margin-left:15px"></i>
              <span ng-if="onHover" style="float:right;">{{a.dispName | humanize}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div> -->
  <ul class="nav nav-sidebar" style="width:105%;position:absolute; bottom:.5rem; cursor:pointer ">

  <li style="text-align:center;">
    <img  ng-src="{{me.pk| getDP}}" class="img img-circle dropdown-toggle" style="width:45px;height:45px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onerror="this.src = '/static/images/img_avatar_card.png'">
    <ul class="dropdown-menu" style="position: absolute;top: -300px;left: 94px;">
      <!-- <li><img class="img-responsive" width="200px" onerror="this.src = '/static/images/img_avatar_card.png'" ng-src="{{me.profile.displayPicture}}" style="top:-5px; position:relative; width:200px"></li> -->
        <li><img class="img-responsive" width="200px" onerror="this.src = '/static/images/img_avatar_card.png'" ng-src="{{me.pk| getDP}}" style="top:-5px; position:relative; width:200px"></li>
      <li>
        <div style="text-align:center; -moz-user-select: none;color:grey;">{{me.first_name}} {{me.last_name}} </div>
      </li>
      <li>
        <div style="text-align:center; -moz-user-select: none;color:grey;">{{me.email}} </div>
      </li>
      <li role="separator" class="divider"></li>
      <li><a href="" ng-click="openSettings('right' , false , settings )"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
      <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
      <!-- <li role="separator" class="divider"></li> -->
      <!-- <li><a href="" ng-click="sendFeedback()"><i class="fa fa-comments-o fa-fw"></i> Feedback</a></li> -->
      <!-- <li><a href="" ng-click="about()"> <i class="fa fa-info fa-fw"></i> About</a></li> -->
    </ul>
  </li>
</ul>
</div>
